[run]
source = check_python_versions
cover_pylib = False
branch = True

[paths]
source =
    src/
    .tox/*/lib/python*/site-packages/
    .tox/pypy*/site-packages/

[report]
exclude_lines =
    pragma: nocover
    pragma: windows
    if TYPE_CHECKING:
    if __name__ == .__main__.:
