language: python
dist: xenial
python:
  - 3.6
  - 3.7
  - 3.8
  - pypy3.6-7.1.1
matrix:
  include:
    - name: flake8
      install: pip install flake8
      script: flake8 src *.py
      after_script:
install:
  - pip install pytest coverage coveralls
  - pip install -e .
script:
  - coverage run -m pytest tests
  - coverage report -m
after_script:
  - coveralls
notifications:
  email: false
